html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden; /* Prevent unnecessary scrolling */
}


.LoginNavbar{
    display: flex;
    height: 10vh;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid orange;
    font-size: 1em;
    font-family:'Courier New', Courier, monospace;
}

.home-navbar{
    display: flex;
    height: 9vh;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 3px solid orange; */
    font-size: 1em;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(181, 62, 181);
    
  
}

.home-navbar h1{
    display: flex;
    align-items: center;
    margin-left: 4vw;
    cursor: pointer;
    
}

.isFavorited {
    fill: red; /* Red fill for favorited */
  }
  
  .notFavorited {
    fill: none;
    stroke: black;
    stroke-width: 2; /* Outline for non-favorited */
  }

.home-navbar button{
    margin-right: 5%;
    background-color: orange;
    border: none;
    cursor: pointer;
 font-family: 'Courier New', Courier, monospace;
 font-weight: bolder;
 font-size: 1em;
 padding: 10px;
 border-radius: 10px;
}


.left{
    width: 40%;
    height: 50%;
    margin-bottom: 15%;
    position: relative;

}

.left img {
    width: 19vw; /* Relative to viewport width */
    height: 19vw; /* Keep it circular by maintaining equal width and height */
    border-radius: 50%;
    position: absolute;
    border: 2px solid orange;
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
  }
  
  /* Adjust the positioning of each image to create overlap */
  .left img:nth-child(1) {
    top: -2vw;
    left: 0;
    animation-delay: 0s;
  }
  
  .left img:nth-child(2) {
    top: 2vw;
    left: 15vw;
    animation-delay: 0.6s;
  }
  
  .left img:nth-child(3) {
    top: 15vw;
    left: 0;
    animation-delay: 1.2s;
  }
  
  .left img:nth-child(4) {
    top: 18vw;
    left: 15vw;
    animation-delay: 1.8s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(2vw); /* Start slightly below */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* End at the original position */
    }
  }
  

.LoginNavbar img, .home-navbar img{
    max-width: 75px; /* Image will not exceed its container width */
    height: auto; 
    margin-left: 10px;
}

.login-page{
    display: flex;
    width: 100%;
    height: calc(100vh - 18vh);
    align-items: center;
    justify-content: space-evenly;
    border: 1 px solid black;
    

}

.credentials-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adding the shadow */
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 40px;
}

.credentials-container:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}

.credentials-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 
}

.credentials-container input{
    width: 100%;
    border: 1px solid #ccc;  
    box-sizing: border-box;
    font-size: 16px;   
    margin: 10px auto; /* Centers the elements horizontally */
    padding: 10px;
    border-radius: 5px;

}

.credentials-container label,
.credentials-container button {
    width: 90%;
    font-size: 16px;    
}



.credentials-container button{
 width: 90%;
 cursor: pointer;
 border: none;
 background-color: rgb(188, 47, 188);
 color:white;
 font-family: 'Courier New', Courier, monospace;
 font-weight: bolder;
 transition: background-color 0.3s ease; /* Smooth transition when hover */
 padding: 10px;
 border-radius: 5px;
 margin-top: 10px;

}

.credentials-container button:hover {
    background-color: #ce80f3; /* Lighter shade of orange on hover */
}


#loginCalltoAction{
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 160%;
    color: orange;
    text-align: center;
    margin-top: 0;
}


.footer{
    background-color: #ce80f3;
    height: 8vh;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    flex-basis: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#typewriter-text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0; /* Start invisible */
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
    animation-delay: 1.5s; /* Delay before starting the typing animation */
    animation-iteration-count: infinite; /* Make the animation repeat */
    max-width: fit-content;
}


@keyframes typing {
    0% {
        width: 0;
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    50% {
        width: 70%; /* Typing effect completes by 90% */
    }
    100% {
        width: 100%;
        opacity: 1; /* Text stays visible until the fade-out */
    }
}


.footer img {
  width: 3vw;
  height: auto; /* This ensures the aspect ratio is maintained */
  margin-left: 10px; 
}

.card-holder{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 cards per row */
  row-gap: 30px; /* Spacing between cards */
  height: calc(100vh - 18vh); /* Adjust height for header or other elements */
  justify-items: center;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  align-items: center;
 
  
} 

.dog-cards{
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 2px solid rgb(188, 47, 188);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 20vw; /* Fixed width for the card */
    height: 45vh; 
    position: relative;
 
}

.dog-cards:hover {
    cursor: pointer;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}


.dog-cards h2, .dog-cards p {
    margin: 1vh 0;
    text-align: center;
    font-size: 1.2em; /* Dynamic font size based on viewport */
    overflow-wrap: break-word; /* Ensures text breaks properly */
    white-space: normal; /* Allows text to wrap to the next line */
    overflow: hidden; /* Prevent overflow of content */
    text-overflow: ellipsis; /* Adds ellipsis if text is too long */
    
    
  }

  

.dog-cards img {
    width: 100%; /* The image takes up the full width of the card */
    height: 60%; /* Fixed height for all images */
    object-fit: cover; /* Ensures the image covers the space without distortion */
    margin-top: 0;
    border-bottom-right-radius: 20%; /* Curves the bottom of the image */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

 
  .home-page{
    height: 100vh;
    max-width: 100vw;
    
  }

  

  

 
  .select-search-row button {
    border: none;
    border-radius: 4px; /* Customize border radius */
    padding: 5px;
    font-size: large;
    list-style-type: none; /* Remove bullet points */
    background-color: white;
    color:black;

  }

  .select-search-row button:hover{
    background-color: lightgray !important;
  }

  .select-search-options {
    background-color: white;
    border: 1px solid #ddd;
    z-index: 1000;
    max-height: 20vh;
    align-items: center;
    overflow-y: scroll;
    
}


  .select-search-input{
    background-color: white;
    color: black;
    height: 5vh;
    border-color: orange;
    
  }

  .select-search-select{
    /* display: none; */
    max-height: 20vh;
    background-color: white;
    overflow-y: auto;
  }
  
  .filter{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 10vh;
    box-sizing: border-box;
    padding-left: 1.4vw;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    grid-column: 1 / -1; /* Make the pagination span all grid columns */
    box-sizing: border-box;
  }

.pagination button  {
    
    background-color: orange;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1em;
    font-family:'Courier New', Courier, monospace;
    font-weight: normal;
}



.pagination input {
    width: 50px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 5px;
}

.pagination input:focus {
    outline: none;
    border-color: orange
}

.pagination span {
    font-size: 16px;
    margin: 0 5px;
}

.filterByBreed{
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

.paw{
    width: 3vw;
    height: auto;
    margin-right: 1vw;
}
.filterByAge input {
    height: 5vh;
    border-radius: 3px;
    border: 2px solid orange;
    padding-left: 10px;
    width: auto;
    box-sizing: border-box;
  
}
.filterByAge{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin-left: 3vw;
    font-weight: bolder;
}

.filterByAge span {
    margin: 10px
}

.filterSearch {
    
    background-color: orange;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1em;
    font-family:'Courier New', Courier, monospace;
    font-weight: normal;
    margin-left: 3vw;
    height: 5vh;
    box-sizing: border-box;
}

.favoriteButton{
    position: absolute;
    border-radius: 55%;
    background-color: white;
    opacity: 90%;
    border: none;
    top: 1vh; /* Position the heart icon 10px from the top */
    right: 0.7vw; /* Position the heart icon 10px from the right */
   
}

.favoriteButton:hover {
    cursor: pointer;
    transform: scale(1.2); /* Slightly increase the size for emphasis */
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4); /* Stronger and larger shadow */
    background-color: #f7f7f7; /* Slightly change the background color */
}

.favoritePageHeader{
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    box-sizing: border-box;
}

.favoritesCardHolder{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 cards per row */
    row-gap: 30px; /* Spacing between cards */
    height: calc(100vh - 25vh); /* Adjust height for header or other elements */
    justify-items: center;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    align-items: center;
    
  } 

  .navbar-buttons button{
    font-family:'Courier New', Courier, monospace!important;
    font-weight: normal !important;
  }

  .navbar-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
  }

  .navbar-buttons button:hover, .filterSearch:hover, .pagination button:hover, .match-button button:hover{
    background-color: rgb(244, 179, 59);
    cursor: pointer;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* Darken background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears on top */
    border:1px solid black;
  }

  .modal-content{
    display: flex;
    flex-direction: column;
    height: 30vw;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 181, 78);
    padding: 5vh;
    border-radius: 10%;
  }

  #modalText{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }
  
  .match-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .match-button button{
    background-color: orange;
    border: none;
    cursor: pointer;
 font-family: 'Courier New', Courier, monospace;
 font-weight: bolder;
 font-size: 1em;
 padding: 10px;
 border-radius: 10px;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 width: 20%

  }

  .match-paw{
    width: 1.5vw;
    height: auto;
   
  }